<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalPackages" value="blazor-progress-rag-demo/packages" />
    <add key="telerik" value="https://nuget.pkg.github.com/telerik/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <telerik>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="%TELERIK_API_KEY%" />
    </telerik>
  </packageSourceCredentials>
</configuration>